{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Enter Date and Time{% endblock %}</h1>
  <h3 style="color: red":>Please Match Example Time and Date Format</h3>
{% endblock %}

{% block content %}
  <!-- <form method="post">
    <label for="title">Date</label>
    <input name="date" id="date" value="{{ request.form['date'] }}" required>
    <label for="time">Time</label>
    <input name="time" id="time" value="{{ request.form['time'] }}" required>
    <input type="submit" value="Save">
  </form> -->


  {% from "formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.date, value=date_placeholder) }}
        {{ render_field(form.time, value=time_placeholder) }}
        {{ render_field(form.body, value=body_placeholder) }}
      </dl>
      <p><input type=submit value=Save>
    </form>
{% endblock %}