{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
    <table border="1" 
           style="margin-top:10px; margin-right:100px;">
        <caption>Site Details</caption>
        <tr>
            <td>Total User Count:</td>
            <td>{{ total_user_count['count'] }}</td>
        </tr>
        <tr>
          <td>Total Alarm Count:</td>
          <td>{{ total_alarm_count['count'] }}</td>
        </tr>
    </table>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.calendar') }}">Schedule Alarm</a>
    <form action="{{ url_for('blog.delete_all_alarms') }}" method="post">
      <input class="danger" type="submit" value="Delete All Alarms" onclick="return confirm('Are you sure?');">
    </form>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        
        <div>
          {% if g.user['id'] == post['author_id'] %}
          <h1>{{ post['date'] }} : {{ post['time'] }}</h1>
          <div class="about">created by {{ post['username'] }} on {{ post['created'].strftime('%m-%d-%Y %H:%M:%S') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        {% endif %}
      </header>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
