{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit{% endblock %}</h1>
{% endblock %}

{% block content %}
{% from "formhelpers.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.date, value=last_date) }}
    {{ render_field(form.time, value=last_time) }}
    {{ render_field(form.body, value=last_body) }}
  </dl>
  <p><input type=submit value=Resubmit>
</form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}